.search-movies {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-box {
  height: 300px;
  width: 100%;
  overflow: auto;
}
.img-poster {
  width: 100px;
  height: 130px;
  object-fit: cover;
}
